.wrapper {
    padding-top: 0.2em;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    margin: 0;
}
.main_contents {
    display: flex;
    padding: 1em;
}
.ctrl_panel {
    padding: 0 2em;
    width: 100%;
    max-width: 450px;
    align-self: flex-start;
}
#canvas {
    background-color: white;
    border: 1px solid black;
    align-self: flex-start;
}
.ctrl_button_box {
    display: flex;
    margin-bottom: 1em;
}
.ctrl_button_box button {
    width: 100%;
    margin: 0.1em;
}
.render_radio_box {
    display: flex;
}
.render_radio_box label {
    margin-left: 0;
    margin-right: 0;
}
.slider {
    margin: 0.2em 0;
}
#preset_select {
    width: 100%;
    height: 1.6em;
}
.condition_radio_box {
    display: flex;
}
.condition_radio_box label {
    width:100%;
    margin: 0.1em;
}
.bold {
    font-weight: bold;
}

@media screen and (max-width: 850px) {
.wrapper {
    padding-left: 1em;
    padding-right: 1em;
}
.main_contents {
    display: block;
}
.ctrl_panel {
    padding: 0;
}
#canvas {
    max-width: 450px;
    max-height: 450px;
    width: 100%;
    margin-bottom: 2em;
}
}

@media screen and (max-width: 375px) {
.ctrl_button_box {
    flex-wrap: wrap;
}
.condition_radio_box {
    flex-wrap: wrap;
}
}